@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-950 text-zinc-100;
}

.table-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(63 63 70);
  border-radius: 9999px;
}
